<h1>All the games</h1>
<p>Find me in app/views/games/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.id%></td>
      <td><%= game.name%></td>
      <td><%= game.rating%></td>
      <td><%= link_to "Show", game %></td>
    </tr>
    <% end %>
  </tbody>
</table>
